!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=450")
    %title= @title || 'Dan Stutzman'
    %link(rel="stylesheet" href="/stylesheets/index.css")
  %body
    %div(style='width:1020px; margin: 0 auto')
      - if request.path_info.match(/^(\/20[0-9][0-9]\/|\/blog)/) # blog post
        - content_for :sidebar do
          = render '/blog_sidebar'

      .sidebar
        .motto
          freelance web
          %br
          developer in
          %br
          Boulder, CO
        %br
        = yield :sidebar

      %h1 Dan Stutzman

      %hr.nav-line
      .nav
        %a{href: "/portfolio",
           class: request.path_info.starts_with?('/portfolio') && 'current'}
          Portfolio
        %a{href: "/blog",
           class: request.path_info.starts_with?('/blog') && 'current'}
          Blog
        %a{href: "/resume",
           class: request.path_info.starts_with?('/resume') && 'current'}
          Resume
        %a{href: "/contact",
           class: request.path_info == '/contact' && 'current'}
          Contact

      - if request.path_info.match(/^(\/20[0-9][0-9]\/|\/blog)/) # blog post
        %div(style='width:650px; overflow: scroll')
          .content
            %h2= @title
            %i Published #{@date}
            = yield

      - else
        .content
          = yield

    %script(src='/javascripts/instantclick.min.js' data-no-instant)
    %script(data-no-instant) InstantClick.init(50)
