!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=450")
    %title Dan Stutzman
    %link(rel="stylesheet" href="/stylesheets/index.css")
  %body
    %div(style='width:1020px; margin: 0 auto')
      .sidebar
        .motto
          freelance web
          %br
          developer in
          %br
          Boulder, CO
        %br
        = yield :sidebar

      %h1
        <span style='letter-spacing:2px'>Da</span>n
        <span style='letter-spacing:6px'>Stut</span>z<span style='letter-spacing:2px'>man</span>

      %hr.nav-line
      .nav
        %a{href: "/portfolio",
           class: request.path_info == '/portfolio' && 'current'}
          Portfolio
        %a{href: "/blog",
           class: request.path_info == '/blog' && 'current'}
          Blog
        %a{href: "/contact",
           class: request.path_info == '/contact' && 'current'}
          Contact
        %a{href: "/login",
           class: request.path_info == '/login' && 'current'}
          Login

      - if request.path_info.match(/\/20[0-9][0-9]\//) # blog post
        .content
          %h2= @title
          %br
          %i Published #{@date}
          = yield

      - else
        .content
          = yield
