!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=450")
    %title= @title || 'Dan Stutzman'
    %link(rel="stylesheet" href="/stylesheets/index.css")
  %body
    %div(style='width:1020px; margin: 0 auto')
      - if request.path_info.match(/\/20[0-9][0-9]\//) # blog post
        - content_for :sidebar do
          = render '/blog_sidebar'

      .sidebar
        .motto
          freelance web
          %br
          developer in
          %br
          Boulder, CO
        %br
        = yield :sidebar

      %h1
        <span style='letter-spacing:2px'>Da</span>n
        <span style='letter-spacing:6px'>Stut</span>z<span style='letter-spacing:2px'>man</span>

      %hr.nav-line
      .nav
        %a{href: "/portfolio",
           class: request.path_info.starts_with?('/portfolio') && 'current'}
          Portfolio
        %a{href: "/blog",
           class: request.path_info.starts_with?('/blog') && 'current'}
          Blog
        %a{href: "/contact",
           class: request.path_info == '/contact' && 'current'}
          Contact
        %a{href: "/login",
           class: request.path_info == '/login' && 'current'}
          Login

      - if request.path_info.match(/\/20[0-9][0-9]\//) # blog post
        %div(style='width:650px; overflow: scroll')
          .content
            %h2= @title
            = yield
            %br
            %i Posted #{@date}

          - path = request.path_info.gsub('/blog', '').gsub(/\.html$/, '').gsub(/\.html\.erb$/, '')
          %script
            = "var disqus_identifier = '#{path}2'; // add 2 to fix Disqus bug"
            = "var disqus_shortname = 'danielstutzman';"
            = "var disqus_url = 'http://www.danstutzman.com#{path}';"
          #disqus_thread
          :javascript
            if (document.location.host !== 'localhost:9292') {
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            }

      - else
        .content
          = yield
