!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=450")
    %title Dan Stutzman
    %link(rel="stylesheet" href="/stylesheets/index.css")
    %link(href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css")
  %body
    %h1(style='background-color:red')
      Don't forget to re-enable robots.txt

    .header
      .top-bar
        .restricted-width
          .social
            %a.facebook(href='http://www.facebook.com/dtstutz')
            %a.github(href='https://github.com/danielstutzman')
            %a.googleplus(href='https://plus.google.com/112826277336975923063')
            %a.linkedin(href='http://www.linkedin.com/pub/daniel-stutzman/9/15b/140')
            %a.twitter(href='http://twitter.com/#!/danielstutzman')
            %a.email(href='mailto:dan@danstutzman.com')
          .top
            Dan&nbsp;Stutzman
            .top-cover


    - if request.path_info.match(/\/20[0-9][0-9]\//) # blog post
      .restricted-width
        .content
          %h2= @title
          %br
          %i Published #{@date}
          = yield

    - else
      .nav-background
        .restricted-width
          .nav-links
            - %w[services blog resume].each do |page|
              - if request.path_info == "/#{page}"
                %h2
                  %a{href: "/#{page}"}
                    = page
              - else
                %a.other{href: "/#{page}"}
                  = page
      .restricted-width
        .content
          = yield
