!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=450")
    %title Dan Stutzman
    %link(rel="stylesheet" href="/stylesheets/index.css")
  %body
    .sidebar
      = yield :sidebar

    %div(style='width:980px; margin: 0 auto')
      %h1
        <span style='letter-spacing:2px'>Da</span>n
        <span style='letter-spacing:6px'>Stut</span>z<span style='letter-spacing:2px'>man</span>

      %hr.nav-line
      .nav
        &nbsp;
        &nbsp;
        %a{href: "/portfolio",
           class: request.path_info == '/portfolio' && 'current'}
          Portfolio
        &nbsp;
        &nbsp;
        %a{href: "/blog",
           class: request.path_info == '/blog' && 'current'}
          Blog
        &nbsp;
        &nbsp;
        %a{href: "/contact",
           class: request.path_info == '/contact' && 'current'}
          Contact
        &nbsp;
        &nbsp;
        %a{href: "/login",
           class: request.path_info == '/login' && 'current'}
          Login

      - if request.path_info.match(/\/20[0-9][0-9]\//) # blog post
        .content
          %h2= @title
          %br
          %i Published #{@date}
          = yield

      - else
        .content
          = yield
