= render 'h2', locals: { name: 'services' }
.restricted-width
  .content
    = render 'services'
%br(clear='all')

= render 'h2', locals: { name: 'blog' }
.restricted-width
  .content
    = render 'blog'
%br(clear='all')

= render 'h2', locals: { name: 'resume' }
.restricted-width
  .content
    = render 'resume'
%br(clear='all')
