- @title = 'Dan Stutzman'

= render 'h2', locals: { name: 'services' }
.restricted-width
  .content
    = render 'services'

= render 'h2', locals: { name: 'resume' }
.restricted-width
  .content
    = render 'resume'

= render 'h2', locals: { name: 'contact' }
.restricted-width
  .content
    = render 'contact'
